:root {
	--primary-font-family: 'Robobto', sans-serif;
	--secondary-font-family: 'Raleway', sans-serif;
	--accent-color: #2196f3;
	--contact-text-color-theme-light: #757575;
	--contact-text-color-theme-dark: rgba(255, 255, 255, 0.6);
	--btn-back-color: #2196f3;
}
.list {
	list-style: none;
}
.link {
	text-decoration: none;
}
body {
	font-family: var(--primary-font-family);
}

/*===============COMPONENTS===============*/

.logo {
	font-family: var(--secondary-font-family);
	font-weight: 700;
	font-size: 26px;
	line-height: 1, 19;
	letter-spacing: 0.03em;

	color: #000000;
}
.logo-blue {
	color: #2196f3;
}
.modal-btn {
	font-weight: 700;
	font-size: 16px;
	line-height: 1, 88;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;

	color: #ffffff;

	background: var(--btn-back-color);
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--btn-back-color);
}
.filter-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 62;

	/* identical to box height, or 162% */
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
	background: #f5f4fa;
	border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 62;

	/* identical to box height, or 162% */
	text-align: center;
	letter-spacing: 0.03em;

	color: #ffffff;
	background: var(--btn-back-color);

	/* shadow-middle */
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.menu-link:active {
	color: var(--accent-color);
}
/*===============/COMPONENTS===============*/

/*===============HEADER===============*/
.menu-link {
	font-family: var(--primary-font-family);
	font-weight: 500;
	font-size: 14px;
	line-height: 1, 14;
	letter-spacing: 0.02em;

	color: #212121;
}
.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}
.contacts-header {
	font-weight: 500;
	font-size: 14px;
	line-height: 1, 14;
	letter-spacing: 0.02em;

	color: var(--contact-text-color-theme-light);
}
.contacts-header:hover,
.contacts-header:focus {
	color: var(--accent-color);
}
.current-studio,
.current-portfolio {
	color: var(--accent-color);
}
/*===============/HEADER===============*/

/*===============HERO===============*/
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1, 36;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}
/*===============/HERO===============*/

/*===============MAIN===============*/
.feature-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1, 14;
	text-transform: uppercase;

	color: #212121;
}
.feature-description {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1, 71;

	/* or 171% */
	letter-spacing: 0.03em;

	color: #757575;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1, 16;
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.employee-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 18;

	/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;

	color: #212121;
}
.employee-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1, 18;

	/* identical to box height */
	text-align: center;
	letter-spacing: 0.03em;

	color: #757575;
}
.product-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;

	/* identical to box height, or 200% */
	letter-spacing: 0.06em;

	color: #212121;
}
.filter-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1, 88;

	/* identical to box height, or 188% */
	letter-spacing: 0.03em;

	color: #757575;
}
/*===============/MAIN===============*/

/*===============FOOTER===============*/
.geo-link {
	font-weight: 400;
	font-size: 14px;
	line-height: 1, 71;

	/* or 171% */
	letter-spacing: 0.03em;

	color: #ffffff;
}
.contacts-footer {
	font-weight: 400;
	font-size: 14px;
	line-height: 1, 71;

	/* or 171% */
	letter-spacing: 0.03em;

	color: var(--contact-text-color-theme-dark);
}
/*===============/FOOTER===============*/
